*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}
header{
    height: 100px;
    background-color: black;  
}
.cabeçalho{
    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 100px;
    margin:auto;
}
.logo{
    width: 100px;
    
}

.logoimg{
    width: 80px;
    height: 80px;
    background-color: #b28756;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
nav {
    display: flex;
}
.menu > nav > a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
    font-size: 0.9em;

}

.menu > nav > a:hover {
    border-bottom: 5px solid  #b28756;
}
