/*
Cor base: #b28756
*/

*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    
}
body{
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: black;  
}
.cabeçalho{
    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 100px;
    margin:auto;
}
.logo{
    width: 100px;
    
    
}

.logoimg{
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
nav {
    display: flex;
}
.menu > nav > a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
    font-size: 0.9em;

}

.menu > nav > a:hover {
    border-bottom: 5px solid  #b28756;
    color:rgba(185, 184, 184, 0.548);
    transition: .5s;
}

.button{
    text-decoration: none;
    background-color:#b28756;
    color:white;
    margin-top: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.7em;
    display: inline-block;
}

.banner{
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url(../estilo/imagens/complementos/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner .sliders{
    width: 1000vw; /*para caber 10 slides de 100 vw*/
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0,0.7);
}

.banner .slide1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
   
    
}
.banner h1{
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
}
.banner span{
    color: #b28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .slidepointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;

}

.banner .pointer.active{
    background-color: #b28756;
}

.default{
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .sectiontitle,
.default .sectiondesc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}.default .sectiontitle{
    font-size: 1.5em;
    
}
.default .sectiondesc{
    font-size: 0.7em;
    color: #ccc;
    margin-top: 13px;
    margin-bottom: 40px;

}
.default .sectionbody{
    max-width: 1140px;
    margin: auto;
}

.default.ligth{
    background-color: #f7f7f7;
}
.default.ligth .sectiontitle,
.default.ligth .sectionbody{
    color:black;
}
.default.dark{
    background-color: black;
}
.default.dark .sectiontitle,
.default.dark .sectionbody{
    color:#fff;
}



/*
CSS ÁREAS ESPECÍFICAS
*/
.sectionaboutus{
    display: flex;
}

.sectionaboutus-left{
    flex: 1;

}
.sectionaboutus-left p{
    font-size: 1em;
    line-height: 25px;
}
.sectionaboutus-rigth{
    width: 520px;
    text-align: center;
}
.sectionaboutus-rigth img{
    width: 480px;
    box-shadow: 0px 10px 10px #333;
}

.sectionservices{
    display: flex;
}
.section-service{
    flex:1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-service:first-child{
    border-left:1px solid #333;
}
.section-service h4{
    margin: 20px;
    text-transform: uppercase;
    font-size: 1em;
}
.section-service p{
    font-size: 0.9em;
    color:#999;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectfilters{
    display: inline-block;
    border:1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    padding:0px 20px;
}

.projectfilters ul,
.projectfilters li{
    list-style: none;
}

.projectfilters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1em;
    border-left: 1px solid #ccc;
    color:#555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.projectfilters li:hover {
    border-bottom: 3px solid #b28756;
    transition: .5s;

}
.projectfilters li:first-child {
    border-left: 0;
}

.sectionprojects-photos{
    width: 100%;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.projectsphoto{
    width: 280px;

}
.projectsphoto .photoarea{
    margin:10px;
    width: 260px;
    height: 160px;
}

.photoarea img{
    width: inherit;
    height: inherit;
}
.photoarea .photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color:white;
  

}
.photoinfo h5{
    font-size: 1.2em;
    font-weight: 600;
}

.projectsphoto .photoarea:hover .photoinfo {
    display: flex;   
    
}

.bgteam{
    background-image: url(imagens/complementos/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}
.areateam{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;

}

.sectionteam{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.sectionteam .sliders{
    width: 1000vw;
    height: 100%;
}
.sectionteam .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: white;
    margin-right: 20px;
}

.slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:black;
}
.areateam .slidepointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.areateam .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

}
.areateam .pointer.active{
    background-color: #b28756;
}

.avatar{
    width: 150px;
    height: auto;
    margin-top: 15px;
}
.teamname{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 30px;
}
.teamrole{
    font-size: 1em;
    color:#999;
    margin-top: 5px;
}
.teamsocial{
    display: flex;
    margin-top: 10px;

}
.teamsocial a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px;

}

.teamsocial a:hover{
    background-color: #b28756;
    transition: .5s;
}
.sectionbodycliente{
    max-width: initial;
}

.sectionclientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    
    height: auto;
    
}

.sectionavatarcliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
    margin-top: 15px;
  
}
.namecliente{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 30px;
    font-weight: 600;
}
.rolecliente{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    margin-top: 5px;
    font-weight: 600;
}
.descliente{
    font-size: 1em;
    line-height: 25px;
    width: 600px;
    margin-top: 15px;
    color:#999;
    text-align: center;
   
}
.aspasico{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



.sectionbodycliente .pointer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    cursor: pointer;

}
.sectionbodycliente .pointer.active{
    background-color: #b28756;
}

.section-companies{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.sectioncompaniesarea{
    display: flex;
    align-items: center;
}

.company{
    flex: 1;
    text-align: center;
}

.sectionprice{
    display: flex;
}
.priceitem{
    flex:1;
    background-color: #fff;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
}
.priceitem:last-child{
    margin-right: 0;
}

.pricename{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
}
.pricemoney{
    font-weight: bold;
    font-size: 1.7em;
    margin-top: 10px;
}
.priceperiod{
    color:#999;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 0.7em;
}
.pricepoint{
    font-size:.8em ;
}

.buttondark:hover{
    background-color: #333;
    transition: .5s;
}
.premium{
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.premium .sectionbody{
    max-width: initial;
}
.sectionpremium{
    overflow: hidden;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    border-bottom: 1px solid #ccc;
    margin: auto;
    padding-bottom: 40px;
}
.sectionpremium-left{
    flex: 1;
    text-align: right;
}
.sectionpremium-left img{
    width: 380px;
    margin-right: 40px;
}
.sectionpremium-rigth{
    flex: 1;
}
.premiumitem{
    display: flex;
    margin-bottom: 20px
}
.premiumitem img{
    width: 30px;
    height: 30px;
    margin-right: 20px
}
.premiumitem div{
    flex: 1;
    color: #999;
    line-height: 20px;
    
    font-size: 1em;
}
.premiumitem > div > h4{
    color:black;
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 10px;
}
.sectionpremium .slidepointers{
    position: absolute;
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    
}
.sectionpremium .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}
.sectionpremium .pointer.active{
    background-color: #b28756;
}
.buttonpremium{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}
.sectionsome{
    display: flex;
}
.section-some{
    flex:1;
    text-align: center;
    padding: 15px;
}

.section-some h3{
    text-transform: uppercase;
    font-size: 2.5em;
    color:#b28756
}
.section-some .traço {
    background-color: #999;
    width: 20px;
    height: 4px;
    margin: auto;
    margin-top: 10px;
    
}
.section-some h4{
    margin: 20px;
    text-transform: uppercase;
    font-size: 1em;
}
.section-some p{
    font-size: 0.9em;
    color:#999;
}

.section-tell{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;   
}

.sectiontellabout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;  
}

.tellabout{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:#999;
    margin: 15px;
    margin-bottom: 25px;
   
}
.frase{
    margin: 15px;
    font-weight: 600;
}
.sectiontellabout .p{
    color:#999;
    margin-right: 20px;
    font-size: .7em;
    font-weight: 600;
    
}
.tellabout1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 192, 233);
    margin: 8px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.tellabout2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 60, 87);
    margin: 8px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.tellabout3{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 59, 143);
    margin: 8px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.tellabout4{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 63, 63);
    margin: 8px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.tellabout5{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 0, 0);
    margin: 8px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.sectionbodycontactus{
    max-width: initial;
}

.sectioncontactus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    
    height: auto;
    
}








.sectionbodycliente .pointer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    cursor: pointer;

}
.sectionbodycliente .pointer.active{
    background-color: #b28756;
}
